.button {
  //Форма
  width: 233px;
  height: 56px;
  background: #5c98f1;
  border-radius: 8px;
  // Надпись
  font-weight: 500;
  font-size: 15px;
  line-height: 153%;
  color: #ffffff;

  @media (any-hover: hover) {
    &:hover {
      background: #4583de;
    }
  }
  &:focus {
    background: #2c6ac7;
  }
  &:disabled {
    background: #d1d1d1;
  }
}
